<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgroud</title>
</head>
<body>
    <h1><%= campground.title %> </h1>
    <h3>Location: <%= campground.location %></h3>
    <a href="/campgrounds/<%=campground._id%>/edit">Edit <%= campground.title %></a>
    <form method="POST" action="/campgrounds/<%=campground._id%>?_method=DELETE">
        <button>Delete <%= campground.title %></button>
    </form>
    <hr>
    <a href="/campgrounds">Back to all Campgrounds</a>
</body>
</html>