<% layout('layouts/boilerplate.ejs') %> 
<div>
    <h1><%= campground.title %> </h1>
    <img style="height: 300px;" src="<%= campground.image %>">
    <h3>Location: <%= campground.location %></h3>
    <h5>Description: <%= campground.description %></h5>
    <h5>Price: $<%= campground.price %></h5>
</div>

    <a href="/campgrounds/<%=campground._id%>/edit">Edit <%= campground.title %></a>
    <form method="POST" action="/campgrounds/<%=campground._id%>?_method=DELETE">
        <button class="btn btn-success">Delete <%= campground.title %></button>
    </form>
    <hr>
    <a href="/campgrounds">Back to all Campgrounds</a>
    <h4>Leave a Review</h4>
    <form action="" method="">
        <div>
            <label for="rating" class="form-label">Rating: </label>
            <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range">
        </div>
        <div>
            <label for="body">Review:</label>
            <textarea class="form-control" name="review[body]" id="dody" cols="20" rows="5"></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
